<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="lrem">
    <meta name="author" content="Devcrud">
    <title>NeoCode</title>
   <!-- fonts  -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap" rel="stylesheet">
   {% load static %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="icon" href="favicon.ico" type="style">

    <!-- font icons -->
    <link rel="stylesheet" href="static/themify-icons.css">

    <link rel="stylesheet" href="static/animate.css">

    <!-- Bootstrap + FoodHut main styles -->
	<link rel="stylesheet" href="static/style.css">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    
    <!-- Navbar -->
    <nav class="custom-navbar navbar navbar-expand-lg navbar-dark fixed-top" data-spy="affix" data-offset-top="10">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#gallary">What will you learn?</a>
                </li>

            </ul>
            <a class="navbar-brand m-auto" href="#">
                <!--                <img src="static/neocodeLOGO.png" class="brand-img" alt="">-->

                <span class="brand-txt">NeoCode</span>
            </a>
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="#testmonial">Most asked questions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a href="components.html" class="btn btn-primary ml-xl-4">Log in</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- header -->
    <header id="home" class="header">
        <div class="overlay text-white text-center">
            <h1 class="display-2 font-weight-bold my-3">NeoCode</h1>
            <h2 class="display-4 mb-5">Master the code, conquer the world</h2>
            <a class="btn btn-lg btn-primary" href="#gallary">Log in</a>
        </div>
    </header>

    <!--  About Section  -->
    <div id="about" class="container-fluid wow fadeIn" id="about"data-wow-duration="1.5s">
        <div class="row">
            <div class="col-lg-6 has-img-bg"></div>
            <div class="col-lg-6">
                <div class="row justify-content-center">
                    <div class="col-sm-8 py-5 my-5">
                        <h2 class="mb-4">About Us</h2>
                        <p>Welcome to NeoCode, a program created by Fundación dos in collaboration with the National University of Engineering (UNI). Inspired by the "NeoCode" course at the University of Cambridge, our goal is to provide an introduction to the intellectual enterprises of computer science and the art of programming.</p>
                        <p>At NeoCode, we believe that mastering the code is the key to conquering the world. We strive to provide a dynamic and enriching educational environment where students can explore the fundamentals of computer science and develop essential programming skills. With our tagline "Master the Code, Conquer the World," we aim to empower individuals to harness the power of technology and create a better future.</p>
                        <p>Join us on the exciting journey of discovery and learning in the world of computer science. Together, we can explore the endless possibilities offered by computer science and the art of programming.</p>
                        <p>Welcome to NeoCode, where mastering the code is the first step to conquering the world!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  gallary Section  
    <div id="gallary" class="text-center bg-dark text-light has-height-md middle-items wow fadeIn">
        <h2 class="section-title">Techs you will learn</h2>
    </div>
    
    <div class="gallary row">
        <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
            <img src="static/c.png" alt="C Programming Language" class="gallary-img">
            <a href="#" class="gallary-overlay">
                <i class="gallary-icon ti-plus"></i>
            </a>
        </div>
    
        <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
            <img src="static/python.png" alt="Python Programming Language" class="gallary-img">
            <a href="#" class="gallary-overlay">
                <i class="gallary-icon ti-plus"></i>
            </a>
        </div>
    
        <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
            <img src="static/flask.png" alt="Flask Framework" class="gallary-img">
            <a href="#" class="gallary-overlay">
                <i class="gallary-icon ti-plus"></i>
            </a>
        </div>
    
        <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
            <img src="static/sql.png" alt="SQL Database" class="gallary-img">
            <a href="#" class="gallary-overlay">
                <i class="gallary-icon ti-plus"></i>
            </a>
        </div>
    
        <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
            <img src="static/html.png" alt="HTML Markup Language" class="gallary-img">
            <a href="#" class="gallary-overlay">
                <i class="gallary-icon ti-plus"></i>
            </a>
        </div>
    
        <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
            <img src="static/js.png" alt="JavaScript Programming Language" class="gallary-img">
            <a href="#" class="gallary-overlay">
                <i class="gallary-icon ti-plus"></i>
            </a>
        </div>
    
        <div class="col-sm-6 col-lg-3 gallary-item wow fadeIn">
            <img src="static/css.png" alt="CSS Styling Language" class="gallary-img">
            <a href="#" class="gallary-overlay">
                <i class="gallary-icon ti-plus"></i>
            </a>
        </div>
    </div>
    
-->

    <!-- REVIEWS Section  -->
    <div id="testmonial" class="container-fluid wow fadeIn bg-dark text-light has-height-lg middle-items">
        <h2 class="section-title my-5 text-center">Most asked questions</h2>
        <div class="row mt-3 mb-5">
            <div class="col-md-4 my-3 my-md-0">
                <div class="testmonial-card">
                    <h3 class="testmonial-title">What is NeoCode?</h3>
                    <h6 class="testmonial-subtitle"></h6>
                    <div class="testmonial-body">
                        <p>NeoCode is a program by Fundación dos in collaboration with the National University of Engineering (UNI), based on the NeoCode course from Cambridge University, titled "Introduction to the intellectual enterprises of computer science and the art of programming."</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-3 my-md-0">
                <div class="testmonial-card">
                    <h3 class="testmonial-title">How do i access to the course?</h3>
                    <h6 class="testmonial-subtitle"></h6>
                    <div class="testmonial-body">
                        <p>To enroll in this couse you have to vist our instalations, contact us for more info. The course includes virtual sessions that you can attend from home or any location with internet access, as well as in-person sessions with laboratory practices, tutors, and plenty of fun. The in-person sessions take place at the National University of Engineering in Managua, with flexible scheduling, or remotely via virtual attendance.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-3 my-md-0">
                <div class="testmonial-card">
                    <h3 class="testmonial-title">What do i need?</h3>
                    <h6 class="testmonial-subtitle"></h6>
                    <div class="testmonial-body">
                        <p>The course is free of charge for you; however, we require regular attendance at lectures, virtual sessions, and other in-person activities. To successfully complete the course, approximately 14 hours per week are needed, including time for in-person sessions, virtual attendance, study hours, and work at home. It is preferable to have a computer with internet access and to submit assignments or PSets promptly. With dedication and effort, we are confident you can succeed.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTACT Section  -->
    <div id="contact" class="container-fluid bg-dark text-light border-top wow fadeIn">
        <div class="row">
            <div class="col-md-6 px-0">
                <div id="map" style="width: 100%; height: 100%; min-height: 400px"></div>
            </div>
            <div class="col-md-6 px-5 has-height-lg middle-items">
                <h3>FIND US</h3>
                <p>University of Cambridge</p>
                <div class="text-muted">
                    <p><span class="ti-location-pin pr-3"></span>The Old Schools,
                        Trinity Lane,
                        Cambridge CB2 1TN,
                        United Kingdom</p>
                    <p><span class="ti-support pr-3"></span> (127) 127-1277</p>
                    <p><span class="ti-email pr-3"></span>neocode@gmail.com</p>
                </div>
            </div>
        </div>
    </div>

    <!-- page footer  -->
    <div class="container-fluid bg-dark text-light has-height-md middle-items border-top text-center wow fadeIn">
        <div class="row">
            <div class="col-sm-4">
                <h3>EMAIL US</h3>
                <P class="text-muted">neocode@gmail.com</P>
            </div>
            <div class="col-sm-4">
                <h3>CALL US</h3>
                <P class="text-muted">(127) 127-1277</P>
            </div>
            <div class="col-sm-4">
                <h3>FIND US</h3>
                <P class="text-muted">The Old Schools,
                    Trinity Lane,
                    Cambridge CB2 1TN,
                    United Kingdom</P>
            </div>
        </div>
    </div>
    <div class="bg-dark text-light text-center border-top wow fadeIn">
        <p class="mb-0 py-3 text-muted small">&copy; Copyright 2015 – 2016 Alexandra D. Salazar of Cambrige University</p>
    </div>
    <!-- end of page footer -->

	<!-- core  -->
    <script src="static/jquery-3.4.1.js"></script>
    <script src="static7/bootstrap.bundle.js"></script>

    <!-- bootstrap affix -->
    <script src="static/bootstrap.affix.js"></script>

    <!-- wow.js -->
    <script src="static/wow.js"></script>
    
    <!-- google maps -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtme10pzgKSPeJVJrG1O3tjR6lk98o4w8&callback=initMap"></script>

    <!-- FoodHut js -->
    <script src="static/js.js"></script>

</body>
</html>
