<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeoCode</title>
    <link rel="icon" href="static/neologo.png" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="static/stylestaff.css">
</head>
<body>

    <style>
        .bx {
            vertical-align: middle; /* Alinea verticalmente el icono */
        }
    </style>


    <div class="sidebar">
        <div class="top">
            <div class="logo">
                <img class="user-img" src="static/neologo.png" alt="neocode">
                <span>NeoCode</span>
            </div>
            <i class="bx bx-menu" id="btn"></i>
        </div>

        <div class="user">
            <img class="user-img" src="static/neologo.png" alt="neocode">
            <p class="bold">User name</p>
            <p>Student</p>
        </div>
        <ul>
            
            
            <li>
                <a href="{% url 'staffinfo' %}"  style="display: flex; align-items: center;">
                    <i class="bx bxs-info-circle"></i>
                    <span class="nav-item">Staff info</span>
                </a>
                <span class="tooltip">Staff info</span>
            </li>
        
            <li>
                <a href="#" style="display: flex; align-items: center;">
                    <i class="bx bxs-party"></i>
                    <span class="nav-item">Network</span>
                </a>
                <span class="tooltip">Network</span>
            </li>
        
            <li>
                <a href="{% url 'chatbot_response' %}" style="display: flex; align-items: center;">
                    <i class="bx bxs-help-circle"></i>
                    <span class="nav-item">Duck bot</span>
                </a>
                <span class="tooltip">Duck bot</span>
            </li>
        
            <li>
                <a href="{% url 'game_view' %}" style="display: flex; align-items: center;">
                    <i class="bx bxs-invader"></i>
                    <span class="nav-item">Quack!</span>
                </a>
                <span class="tooltip">Quack!</span>
            </li>
        
            <li>
                <a href="{% url 'logout' %}" style="display: flex; align-items: center;">
                    <i class="bx bxs-log-out"></i>
                    <span class="nav-item">log out</span>
                </a>
                <span class="tooltip">log out</span>
            </li>
            
            
            
        </ul>
        
    </div>

    <div class="main-content">
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
    </div>

</body>

<script>
    let btn = document.querySelector("#btn");
    let sidebar = document.querySelector(".sidebar");

    btn.onclick = function(){
        sidebar.classList.toggle("active");
    }

</script>
<script src="game.js"></script>

</html>