<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css" rel="stylesheet" />
    <link rel="stylesheet" href="static/css.css">
</head>
<body>

<div class="section">
    <div class="container">
        <div class="row full-height justify-content-center">
            <div class="col-12 text-center align-self-center py-5">
                <div class="section pb-5 pt-5 pt-sm-2 text-center">
                    <h6 class="mb-0 pb-3"><span>As a student </span><span>As a Staff</span></h6>
                    <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
                    <label for="reg-log"></label>
                    <div class="card-3d-wrap mx-auto">
                        <div class="card-3d-wrapper">
                            <div class="card-front">
                                <div class="center-wrap">
                                    <div class="section text-center">
                                        <h4 class="mb-4 pb-3">Student</h4>
                                        <div class="form-group">
                                            <input type="text" name="student_logname" class="form-style" placeholder="User ID" id="student_logname" autocomplete="off"> <!-- Unique name and ID for student -->
                                            <i class="input-icon uil uil-user"></i>
                                        </div>		
                                        <div class="form-group mt-2">
                                            <input type="password" name="student_logpass" class="form-style" placeholder="Your Password" id="student_logpass" autocomplete="off"> <!-- Unique name and ID for student -->
                                            <i class="input-icon uil uil-lock-alt"></i>
                                        </div>
                                        <a href="#" class="btn mt-4">Log in</a>
                                        <p class="mb-0 mt-4 text-center"><a href="#0" class="link">Forgot your password?</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-back">
                                <div class="center-wrap">
                                    <div class="section text-center">
                                        <h4 class="mb-4 pb-3">Staff</h4>
                                        <div class="form-group">
                                            <input type="text" name="staff_logname" class="form-style" placeholder="User ID" id="staff_logname" autocomplete="off"> <!-- Unique name and ID for staff -->
                                            <i class="input-icon uil uil-user"></i>
                                        </div>	
                                        <div class="form-group mt-2">
                                            <input type="password" name="staff_logpass" class="form-style" placeholder="Your Password" id="staff_logpass" autocomplete="off"> <!-- Unique name and ID for staff -->
                                            <i class="input-icon uil uil-lock-alt"></i>
                                        </div>
                                        <a href="#" class="btn mt-4">Log in</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
