<!-- staff_detail.html -->
{% extends 'layoutstaff.html' %}

{% block title %}Staff Info{% endblock %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'staffinfo.css' %}">
{% endblock %}
{% block body %}
{% for student in students %}
<div class="container">
    <div class="card">
        <div class="content">
            <div class="img">
                <img src="{% static staff.image %}" alt="Staff Image">
            </div>
            <div class="cardContent">
                <h3> {{student.user}} <br><span> {{student.cycle}} </span></h3>
            </div>
        </div>
        <ul class="sci">
            <li style="--i:1">
                <h5> Grupo {{student.class_group}} </h5>
            </li>
            <li style="--i:2">
                <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>
</div>
{% endfor %}
{% endblock %}
