{% extends 'layoutstaff.html' %}

{% block title %}Take Attendance{% endblock %}

{% block head %}
    {% load static %}
    
<link rel="stylesheet" href="{% static 'staffinfo.css' %}">
    <link rel="stylesheet" href="{% static 'netw/styles.css' %}">
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Centra verticalmente en la página */
        }

        .form-container {
            width: 100%;
            max-width: 400px; /* Ancho máximo del formulario */
            padding: 20px;
            background-color: #FFFFFF;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }

        .form-group {
            margin-bottom: 20px;
        }

        .btn-primary {
            background-color: #050A30;
            color: #F0F8FF;
            border: none;
            padding: 10px 20px;
            border-radius: 8px;
            font-size: 16px;
            transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
        }

        .btn-primary:hover {
            background-color: #F0F8FF;
            color: #050A30;
            transform: translateY(-3px);
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        }
    </style>
{% endblock %}

{% block body %}
<div class="container">
    <div class="form-container">
        <h1 class="text-center mb-4">Take Attendance</h1>
        <form action="{% url 'takeAtt' %}" method="post">
            {% csrf_token %}
            <button  type="submit" class="btn btn-primary btn-block">Agregar</button>
        </form>
        <h1>Student Information</h1>
        <p><strong>Name:</strong> {{ student.user.username }}</p>
        <p><strong>Fingerprint:</strong> {{ student.fingerprint }}</p>
        <p><strong>Cycle:</strong> {{ student.cycle }}</p>
        <p><strong>Class Group:</strong> {{ student.class_group }}</p>
        <button id="agregar">agregar estudiantes</button>
        <tr></tr>
    </div>
    <script>

function getCookie(name){
    const value = `; ${document.cookie}`;
    const parts = value.split(`${name}=`);

    if (parts.length == 2) return 
    parts.pop().split(';').shift();
}

const btn = document.getElementById("agregar");

btn.addEventListener('click', function() {
    
    
    fetch('http://192.168.242.108:5000/search_fingerprint')
    .then(response => response.json())
    .then(data => {
        console.log(data);
        // Handle the data as needed
        const csrfToken = getCookie("csrftoken")
        
      fetch('/buscar_info', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json','X-CSRFToken': csrfToken
        },
        body: JSON.stringify({ 'data': data })  
      })
      .catch(error => {
        console.error('Error fetching data:', error);
        // Handle errors, such as showing an error message to the user
      });
    })
    .catch(error => {
      console.error('Error fetching data:', error);
      // Handle errors, such as showing an error message to the user
    });
});
      </script>
    
</div>
{% endblock %}
